body{
  background:#ccc;
}

.form-control:focus{
  /*border: 2x solid #6d6d6d;*/
  border: white;
  box-shadow: 2px 2px 2px;
}

.form-control:hover{/*son los inputs*/
  box-shadow: 0px 2px 2px #6d6d6d;
}

.btn{
  background-color: #6d6d6d;
  box-shadow: 0px 3px 2px #6d6d6d;/*le da sombra*/
}

.btn:hover{
  box-shadow: 0px 0px 2px #6d6d6d;
}

#accept{
  background-color: #96ac3c;
  box-shadow: 0px 3px 2px #6d6d6d;
}

#accept:hover{
  box-shadow: 0px 0px 2px #6d6d6d;
}
